<footer class="footer">
    <div class="row">
        <div class="col-md-12"><p class="container"> &copy; Plagio Team - Plagarism Checker</div>
    </div>
</footer>
<script>
    $("a[href^='/<%= active %>']").addClass("active")
</script>